{
  "trailingComma": "es5",
  "tabWidth": 4,
  "singleQuote": true,
  "printWidth": 180,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "apexInsertFinalNewline": false,
  "plugins": [
    "prettier-plugin-apex",
    "@prettier/plugin-xml"
  ],
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": {
        "parser": "lwc"
      }
    },
    {
      "files": "**/*.{cmp,page,component}",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "**/*.{trigger,cls}",
      "options": {
        "parser": "apex"
      }
    },
    {
      "files": "**/*.{apex,soql}",
      "options": {
        "parser": "apex-anonymous"
      }
    }
  ]
}