{
  "tabWidth": 4,
  "singleQuote": false,
  "printWidth": 120,
  "endOfLine": "lf",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "embeddedLanguageFormatting": "auto",
  "apexInsertFinalNewline": false,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": {
        "parser": "lwc"
      }
    },
    {
      "files": "**/*.{cmp,page,component}",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "**/*.{trigger,cls}",
      "options": {
        "parser": "apex",
        "singleQuote": true
      }
    },
    {
      "files": "**/*.{apex,soql}",
      "options": {
        "parser": "apex-anonymous",
        "singleQuote": true
      }
    }
  ]
}
