{
  "trailingComma": "none",
  "tabWidth": 2,
  "singleQuote": false,
  "printWidth": 100,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "apexInsertFinalNewline": false,
  "plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": {
        "parser": "lwc"
      }
    },
    {
      "files": "**/*.{cmp,page,component}",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "**/*.{trigger,cls}",
      "options": {
        "parser": "apex",
        "singleQuote": true
      }
    },
    {
      "files": "**/*.{apex,soql}",
      "options": {
        "parser": "apex-anonymous",
        "singleQuote": true
      }
    }
  ]
}
