# Copyright 2021 Oliver Preuschl
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: "system:test:code-scan"

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master
    paths:
      - "2-force-app/**"
      - "3-force-apex-test/**"
  workflow_dispatch:

jobs:
  run-sfdx-scanner:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout source code"
        uses: actions/checkout@v2

      - name: "Get scanner setting"
        run: |
          chmod +x ./.github/scripts/getPackageAttribute.js
          run_sfdx_scanner=$(node ./.github/scripts/getPackageAttribute.js runSfdxScanner)
          echo "run_sfdx_scanner=${run_sfdx_scanner}" >> $GITHUB_ENV

      - name: "Install Salesforce CLI"
        if: (env.run_sfdx_scanner == 'true') || (env.run_sfdx_scanner == true)
        run: |
          wget -nv https://developer.salesforce.com/media/salesforce-cli/sfdx/channels/stable/sfdx-linux-x64.tar.xz
          mkdir sfdx-cli
          tar xJf sfdx-linux-x64.tar.xz -C sfdx-cli --strip-components 1
          export PATH=./sfdx-cli/bin:$PATH
          echo "./sfdx-cli/bin" >> $GITHUB_PATH

      - name: "Install SFDX Plugins"
        if: (env.run_sfdx_scanner == 'true') || (env.run_sfdx_scanner == true)
        run: |
          sfdx plugins:install @salesforce/sfdx-scanner

      - name: "Restore node_modules cache"
        if: (env.run_sfdx_scanner == 'true') || (env.run_sfdx_scanner == true)
        id: cache-npm
        uses: actions/cache@v1
        with:
          path: node_modules
          key: npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            npm-${{ env.cache-name }}-
            npm-

      - name: "Populate auth file with DEVHUB_AUTH_URL secret"
        if: (env.run_sfdx_scanner == 'true') || (env.run_sfdx_scanner == true)
        shell: bash
        run: "echo ${{ secrets.DEVHUB_AUTH_URL}} > ./DEVHUB_AUTH_URL.txt"

      - name: "Authenticate Dev Hub"
        if: (env.run_sfdx_scanner == 'true') || (env.run_sfdx_scanner == true)
        run: "sf org login sfdx-url --sfdx-url-file ./DEVHUB_AUTH_URL.txt --alias devhub --set-default-dev-hub"

      - name: "Install npm dependencies"
        env:
          skip_scan: ${{ secrets.skip_scan }}
        if: ((env.skip_scan == '') || (env.skip_scan == 'false')) && (steps.cache-npm.outputs.cache-hit != 'true')
        run: npm ci

      - name: "Run sfdx scanner"
        if: (env.run_sfdx_scanner == 'true') || (env.run_sfdx_scanner == true)
        run: sfdx scanner:run --target "2-force-app" --engine "pmd,eslint,retire-js" --category "Security,Best Practices,Performance,Code Style,Design,Error Prone,Possible Errors" format=table --severity-threshold=3
